<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Håkon Ø. Løvdal, Fredrik C. Berg, Truls M. Pettersen ">
	<title>Gløseberg {% block title %}{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Skranji:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="wrapper">
        <div id="main">
            {% include 'base/header.html' %}
            <section id="mainsection">
                {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
                {% endfor %}
                {% block body %}
                {% endblock %}
            </section>
            {% include 'base/footer.html' %}
        </div>
    </div>
    {% block scriptblock %}
    <script src="{{ url_for('static', filename='js/front.js') }}"></script>
    {% endblock %}
</body>
</html>
