<footer>
    <div class="row">
        <div class="col20">
            <h4><a href="#">Attraksjoner</a></h4>
            <p><a href="#">Rider</a></p>
            <p><a href="#">Sklia</a></p>
            <p><a href="#">Ghostville</a></p>
            <p><a href="#">Svinghuska</a></p>
            <p><a href="#">Barnesklia</a></p>
            <p><a href="#">Lightning</a></p>
        </div>
        <div class="col20">
            <h4><a href="#">Restaurant</a></h4>
        </div>
        <div class="col20">
            <h4><a href="#">Arrangement</a></h4>
        </div>
        <div class="col20">
            <h4><a href="#">Billetter</a></h4>
        </div>
        <div class="col20">
            <h4><a href="#">Kontakt</a></h4>
        </div>
        <div class="cf"></div>
    </div>
</footer>
