{% extends 'base/base.html' %}
{% block title %}&ndash; Kontakt oss{% endblock %}
{% block body %}
    <h2>KONTAKT OSS</h2>
    <div class="section cf">
        <div class="col col100">
            <address>
                Gløseberg <br>
                Postboks 1000 <br>
                1814 Gløshaugen <br>
                Norge 
            </address>
        </div>
    </div>
    <section>
        <h3>Kontaktskjema:</h3>
        <div class="section cf">
            <div class="col col50">
                <form action="#" method="POST">
                    <div class="section cf">
                        <div class="col col33">
                            <label for="name">Navn:</label>
                        </div>
                        <div class="col col66">
                            <input type="text" id="name" name="name" size="30" maxlength="50" placeholder="Navn Navnesen" required="Du må skrive inn navn" />
                        </div>
                    </div>
                    <div class="section cf">
                        <div class="col col33">
                            <label for="email">Epost:</label>
                        </div>
                        <div class="col col66">
                            <input type="email" id="email" name="email" size="30" placeholder="me@domain.com" required="Du må skrive inn epostadresse" />
                        </div>
                    </div>
                    <div class="section cf">
                        <div class="col col33">
                            <label for="comment">Kommentar:</label>
                        </div>
                        <div class="col col66">
                            <textarea id="comment" name="comment" cols="28" rows="5" placeholder="Skriv din kommentar her" optional></textarea>
                        </div>
                    </div>
                    <div class="section cf">
                        <div class="col col100">
                            <input type="submit" id="submit" value="Send"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col col50">
                <p>Har du noe du ønsker å si? Send inn en melding med dette kontaktskjema, så er jeg sikker på at bergalerga kommer på døra di med minst 15 torpedoer!</p>
            </div>
        </div>
    </section>
{% endblock %}
