{% extends 'base/base.html' %}
{% block title %}&ndash; Kontakt oss{% endblock %}
{% block body %}
    <h2>KONTAKT OSS</h2>
    <div class="section cf">
        <div class="col col33">
            <h3>Postadresse</h3>
            <address>
                Gløseberg <br>
                Postboks 1000 <br>
                1814 Gløshaugen <br>
                Norge 
            </address>
        </div>
        <div class="col col33">
            <h3>Besøksadresse</h3>
            <address>
                Gløseberg<br>
                Gløsebergveien 5<br>
                1814 Gløshaugen<br>
                Norge
            </address>
        </div>
        <div class="col col33">
            <p>Har du noe du ønsker å si? Send inn en melding med dette kontaktskjema, så er jeg sikker på at bergalerga kommer på døra di med minst 15 torpedoer!</p>
        </div>
    </div>
    <section>
        <h3>Kontaktskjema:</h3>
        <div class="section cf">
            <div class="col col100">
                <form id="commentForm" name="commentForm" action="/contact" onsubmit="return Forms.validateComment();" method="POST">
                    <div class="section cf">
                        <div class="col col100">
                            <div class="section cf">
                                <div class="col col50">
                                    <label for="name">Navn:</label>
                                    <input type="text" class="textbox" id="name" name="name" placeholder="Fornavn..." required="Du må skrive inn et fornavn">
                                </div>
                                <div class="col col50">
                                    <label for="surname">Etternavn:</label>
                                    <input type="text" class="textbox" id="surname" name="surname" placeholder="Etternavn..." required="Du må skriv inn et etternavn">
                                </div>
                            </div>
                            <div class="section cf">
                                <div class="col col50">
                                    <label for="email">Epost:</label>
                                    <input type="email" class="textbox" id="email" name="email" placeholder="me@gloseberg.no" required="Du må skrive inn en epostadresse">
                                </div>
                            </div>
                            <div class="section cf">
                                <div class="col col50">
                                    <div class="section cf">
                                        <div class="col col50">
                                            <label for="genremale">Mann:</label>
                                            <input type="radio" id="genremale" name="genremale" value="male">
                                        </div>
                                        <div class="col col50">
                                            <label for="genrefemale">Kvinne:</label>
                                            <input type="radio" id="genrefemale" name="genrefemale" value="female">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section cf">
                                <div class="col col100">
                                    <label for="comment">Kommentar:</label>
                                    <textarea id="comment" class="textbox" name="comment" style="width: 100%; height: 200px;" required="Du må gi en kommentar"></textarea>
                                </div>
                            </div>
                            <div class="section cf">
                                <div class="col col100">
                                    <input type="submit" id="submit" value="Send"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block scriptblock %}
    <script src="{{ url_for('static', filename='js/forms.js' )}}" type="text/javascript"></script>
{% endblock %}
