{% extends 'base/base.html' %}
{% block title %}&ndash; Arrangement{% endblock %}
{% block body %}
    <h2>Arrangementer</h2>
    <p> Her vil du finne informasjon om de fantastiske arrangementene som snart finner sted i parken. </p>
    <div class="section cf">
    	<div class="col col33">
    		<img src="{{ url_for('static', filename='images/rullefred.jpg') }}" alt="rullefred" width="90%">
    	</div>
    	<div class="col col33">
    		<img src="{{ url_for('static', filename='images/music.svg') }}" alt="Raveparty" width="70%">
        </div>
        <div class="col col33">
            <img src="{{ url_for('static', filename='images/christmas.jpg') }}" alt="Jul i Gløseberg" width="50%">
        </div>
   	</div>
   	<div class="section cf">
   		<div class="col col33">
   			<h3> Rulle! </h3>
    		<p> Snart kommer den kjente og kjære underholderen Rullefred for å besøke parken. Dette kommer til å bli en spenningsfylt dag, der vi vil lære masse om hvordan man oppnår optimal rulling! Vi vil også ta et dypdykk ned i historiebøkene, og finne ut hvordan han ble så opptatt av rulling i første omgang. Til slutt vil det bli mulighet til å prøve ut rulles splitter nye spill, Håkon ****hunter. Det vil naturligvis bli delt ut både solo og kebab til alle deltakere, så dette er noe du definitivt ikke vil gå glipp av! </p>
   		</div>
   		<div class="col col33">
   			<h3> Mad rave party! </h3>
    		<p> Det blir insane rave party på Gløseberg om en uke. Alle djgutta kommer, dette kommer til å bli knallbra!</p>
        </div>
        <div class="col col33">
            <h3> Jul i Gløseberg! </h3>
            <p>Snart er julen her og Gløseberg pynter opp parken med nisser og julelys for at du skal komme i ordentlig julestemning. Julen i Gløseberg starter rett etter siste eksamen, bli med å dans julen inn!</p>
        </div>

    </div>
{% endblock %}
