{% extends 'base/base.html' %}
{% block title %}&ndash; Referanser{% endblock %}
{% block body %}
<h2>Referanser</h2>
<div class="section cf">
    <div class="col col33 centering">
        <img src="{{ url_for('static', filename='images/rullefred.jpg') }}" alt="rullefred" width="250px" height="250px">
        <p> <a href="https://www.facebook.com/rullefred/photos/a.198358616856059.50783.196976663660921/507283949296856/?type=1&theater">Link til original </a></p>
    </div>
    <div class="col col33 centering">
        <img src="{{ url_for('static', filename='images/music.svg') }}" alt="Raveparty" width="250px" height="250px">
        <p> <a href="http://www.clipartbest.com/clipart-xTgojrqTA">Clipartbest.com </a></p>
    </div>
    <div class="col col33 centering">
        <img src="{{ url_for('static', filename='images/christmas.jpg') }}" alt="Jul i Gløseberg" width="250px" height="250px">
        <p> <a href="https://www.flickr.com/photos/htakashi/6561620485/in/photolist-aZQ2aF-bdKCBc-4bx7QZ-dxCp68-dFGEar-iHdXGw-94oKwD-5HxvD9-8UouWq-7o46VN-ivwW3W-8Xe9T2-5KpNhE-949veL-dBHo2o-b1fzBa-viu8s-96VRju-aNS3k2-94dDRt-hNGj7G-94gvRw-pA2Smj-izWbP9-dDrKLM-ixYVd3-7uEgPm-aXabFR-dDYW1C-4f88EG-dBkxg9-7qeSf6-dDViVF-6YW4PE-93iXYZ-iAarfq-7pmKMg-4fTuyB-4eQfVT-7tMd5H-dBf5BV-5LNL8c-aWrgdX-5Qu9Pt-vxktS-dDrXWx-dDW1f1-hZBWjW-iAVsVv-7qy2Wc/"> Link til original </a> </p>
    </div>
</div>
<div class="section cf">
    <div class="col col33 centering">
        <img src="{{ url_for('static', filename='images/pizza.jpg') }}" alt="Vår Pizza" width="250px" height="250px">
        <p> <a href="https://openclipart.org/detail/33385/pizza_4_stagioni_archite_01-by-francesco_rollandin"> Openclipart.org </a></p>
    </div>
    <div class="col col33 centering">
        <img src="{{ url_for('static', filename='images/hotdog.jpg') }}" alt="Våre pølser" width="250px" height="250px">
        <p> <a href="http://elmikr.deviantart.com/art/Hot-dog-328727242"> Hot dog by ELMikr </a></p>
    </div>
    <div class="col col33 centering">
        <img src="{{ url_for('static', filename='images/hamburger.jpg') }}" alt="Vår hamburger" width="250px" height="250px">
        <p> <a href="http://commons.wikimedia.org/wiki/File:Hamburger_01.svg"> Wikimedia Commons </a></p>
    </div>
</div>
<div class="section cf">
    <div class="col col33 centering">
        <img src="{{ url_for('static', filename='images/header.png') }}" alt="Vår Pizza" width="250px" height="250px">
        <p> <a href="http://www.vectors4all.net/vectors/themepark-clip-art"> Vectors4all </a></p>
    </div>
    <div class="col col33 centering">
        <img src="{{ url_for('static', filename='images/rides/sklia.JPG') }}" alt="sklia" width="250" height="250"/>
        <p><a href="http://commons.wikimedia.org/wiki/File:Canadian_National_Exhibition_Big_Slide.JPG"> Wikimedia commons</a> </p>
    </div>
    <div class="col col33 centering">
        <img src="{{ url_for('static', filename='images/rides/lightning.JPG') }}" alt="Lightning" width="250" height="250"/>
        <p><a href="http://commons.wikimedia.org/wiki/File:SilverBulletCoaster.jpg"> Wikimedia commons</a></p>
    </div>
</div>
<div class="section cf">
    <div class="col col33 centering">
            <img src="{{ url_for('static', filename='images/rides/rider.JPG') }}" alt="Rider" width="250" height="250"/>
        <p><a href="http://commons.wikimedia.org/wiki/File:TheIncredibleHulkCoaster.jpg">Wikiemedia commons</a></p>
    </div>
    <div class="col col33 centering">
            <img src="{{ url_for('static', filename='images/rides/barnesklia.JPG') }}" alt="barnesklia" width="250" height="250"/>
        <p><a href="http://commons.wikimedia.org/wiki/File:Slide_in_Parque.jpg"> Wikimedia commons </a></p>
    </div>
    <div class="col col33 centering">
            <img src="{{ url_for('static', filename='images/rides/ghostville.JPG') }}" alt="Ghostville" width="250" height="250"/>
        <p><a href="http://en.wikipedia.org/wiki/Scooby-Doo_Spooky_Coaster#mediaviewer/File:Scooby-Doo_Spooky_Coaster_facade.jpg"> Wikimedia commons</a> </p>
    </div>
</div>
<div class="section cf">
    <div class="col col33 centering">
            <img src="{{ url_for('static', filename='images/rides/svinghuska.JPG') }}" alt="Svinghuska" width="250" height="250"/>
        <p><a href="http://commons.wikimedia.org/wiki/File:Kettenkarussel.jpg"> Wikimedia commons </a></p>
    </div>

</div>

{% endblock %}