{% extends 'base/base.html' %}
{% block title %}&ndash; Attraksjoner &ndash; 1{% endblock %}
{% block body %}
<div class="attraction">
<h1>Ghostville</h1>
<img src="{{ url_for('static', filename='images/rides/ghostville.JPG') }}" alt="Ghostville"  width="400" height="400"/>
<p> Dette er Ghostville, skummelt som bare det! Vi har skremselsgaranti. Det betyr at dersom du ikke blir skremt, så kan du prøve enda en gang! Mottoet vårt er; blir du ikke skremt første gang, så blir du hvertfall det andre gang!</p>
</div>
{% endblock %}
