{% extends 'base/base.html' %}
{% block title %}&ndash; Hovedsiden{% endblock %}
{% block body %}
    <h1>HERE BE MAINSECTION FOR INDEX PAGE</h1>
    <div class="section cf">
        <div class="col col33">
            <p>lorem derp derp a herpdsdddddddddddddddd d d d  d d d dd dsfdslfdsjdsl dsl; dsdsgdslgjdslk;gjdsgkls</p>
        </div>
        <div class="col col66">
            <p>Col dero herp asfasfasfdsf dsg as sdds sdga ga dsg dsg dsga dasg dgsa dgs  gs erhtr y u jur ht g fgd fg gf dr fgd fda dfas f re gdf fd f fgs fsd addf asfd df gfd  agdfa ds gdfadfh</p>
        </div>
    </div>
{% endblock %}
