{% extends 'base/base.html' %}
{% block title %}&ndash; Hovedsiden{% endblock %}
{% block body %}
    <h1>HERE BE MAINSECTION FOR INDEX PAGE</h1>
    <div class="section cf">
        <div class="col50">
            <p>lorskldfjsdalkg;dsgsdglkdsagjkldsagsdaklg;sdg;sdklgjdsalkgksdagsdlllllllorskldfjsdalkg;dsgsdglkdsagjkldsagsdaklg;sdg;sdklgjdsalkgksdagsd
orskldfjsdalkg;dsgsdglkdsagjkldsagsdaklg;sdg;sdklgjdsalkgksdagsd
orskldfjsdalkg;dsgsdglkdsagjkldsagsdaklg;sdg;sdklgjdsalkgksdagsd
orskldfjsdalkg;dsgsdglkdsagjkldsagsdaklg;sdg;sdklgjdsalkgksdagsd
orskldfjsdalkg;dsgsdglkdsagjkldsagsdaklg;sdg;sdklgjdsalkgksdagsd
orskldfjsdalkg;dsgsdglkdsagjkldsagsdaklg;sdg;sdklgjdsalkgksdagsd
orskldfjsdalkg;dsgsdglkdsagjkldsagsdaklg;sdg;sdklgjdsalkgksdags</p>
        </div>
        <div class="col50" id="slideshow">
            <img src="{{ url_for('static', filename='images/rides/sklia.JPG') }}" width="400" height="400" name="slide"/>
            <h4 id="imagename"></h4>

        </div>
    </div>
{% endblock %}
{% block scriptblock %}
    <script src="{{ url_for('static', filename='js/slideshow.js') }}"> </script>
{% endblock %}
