{% extends 'base/base.html' %}
{% block title %}&ndash; Hovedsiden{% endblock %}
{% block body %}
    <h1>Velkommen til Gløseberg!</h1>
    <div class="section cf">
        <div class="col col50">
            <p> Gløseberg er en fantastisk fornøyelsespark, midt på berget i Gløs. Vi har masse phete attraksjoner. Ta også gjerne turen innom et av våre spisesteder, der du kan få fantastisk mat. Kanskje vil du også møte på rulle, som er kjent for å ture innom parken i ny og ne.

            </p>
            <p> En ting er hvertfall sikkert; kommer du innom parken vår, kommer du til å få en opplevelse for livet! Ellers er det ikke så mye å si, annet enn at du må besøke billettsida og bestille med en gang!
            </p>
        </div>
        <div class="col col50 centering">
            <h4 class="imagename" id="imagename"></h4>
            <img src="{{ url_for('static', filename='images/rides/sklia.JPG') }}" width="400" height="400" name="slide"/>

        </div>
    </div>
{% endblock %}
{% block scriptblock %}
    <script src="{{ url_for('static', filename='js/slideshow.js') }}"> </script>
{% endblock %}
