{% extends 'base.html' %}
{% block title %}&ndash; Restaurant{% endblock %}
{% block body %}
    <h2>RESTAURANT</h2>
    <p> Velkommen til Gløseberg Doggyshop. Vår spesialitet er pølser, men vi har også et stort utvalg av pizzaer og burglars. Ta en tur innom og møt vår kjekke kokk <a href="http://bergalerga.no">bergalerga</a>!</p>
    <div class="row">
	    <div class="col33 cf">    
	    	<h3> WE HAS PIZZA LOL </h3>
	    	<img src="{{ url_for('static', filename='images/pizza.jpg') }}" alt="Vår Pizza" height="60%" width="60%">
	    </div>
	    <div class="col33 cf">
	    	<h3> GIEF DOGGY </h3>
	    	<img src="{{ url_for('static', filename='images/hotdog.jpg') }}" alt="Våre pølser" height="60%" width="60%">
	    </div>
	    <div class="col33 cf">
	    	<h3> OMG U HAS BURGLAR?!? </h3>
	    	<img src="{{ url_for('static', filename='images/hamburger.jpg') }}" alt="Vår hamburger" height="80%" width="80%">
	    </div>
	</div>
	<div class="row">
		<div class="col33 cf">
			<p> Hos oss får du alle pizzaer du kan ønske deg, i både liten og stor størrelse. Men, er du bare litt sulten sier du? Joda, da kan du også få kjøpt en pizzaslice. </p>
		</div>
		<div class="col33 cf">
			<p> Pølsene våre er definitivt de beste i verden. De smaker kjempegodt og kan med fordel nytes både med ketchup og sennep. Vi kan virkelig tilby deg den ultimate pølseopplevelsen. </p>
		</div>
		<div classs="col33 cf">
			<p> Vi serverer fantastiske hamburgere. Vi serverer hamburgeren vår med både brød og kjøtt, som til sammen utgjør en smaksopplevelse av en annen verden. Vi har også glutenfrie brød til alle dere stakkars allergikere.</p>
		</div>
	</div>
{% endblock %}
