{% extends 'base.html' %}
{% block title %}&ndash; Restaurant{% endblock %}
{% block body %}
    <h1>Restaurant info</h1>
    <div class="col33">    
    	<h2> WE HAS PIZZA LOL </h2>
    	<img src="../static/pizza.jpg" alt="Vår Pizza"
    </div>
    <div class="col33">
    	<h2> GIEF DOGGY </h2>
    	<img src="../static/hotdog.jpg" alt="Våre pølser">
    </div>
    <div class="col33">
    	<h2> OMG U HAS BURGLAR?!? </h2>
    	<img src="../static/hamburger.jpg" alt="Vår hamburger">
    </div>
{% endblock %}
